@import "./dark";

$body-background-color: #1b1c20;
$sidebar-color: #1f2024;
$search-background-color: #26272c;
$body-text-color: #dcd9d2;
$body-heading-color: #f2efe9;
$link-color: #5fb3a3;
$nav-child-link-color: #b8b5ae;
$border-color: #34353a;
$code-background-color: #232428;